<title>About</title>
{% extends "base.html"%}

{% block content %}
<section id="land" class="p-5 home">
        
        <div class="row quote">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe omnis, vel molestiae sit quo ea maiores eveniet! Quaerat similique obcaecati illum accusamus deserunt neque incidunt expedita quo eos ex laboriosam dolorum quam quod repellendus nihil molestiae dolore inventore exercitationem at, illo aperiam? Ab non hic maiores? Saepe alias incidunt id.</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock%}