<title>About</title>
{% extends "base.html"%}

{% block content %}
<section id="land" class="p-5 home">
        
        <div class="row quote">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <body>
                            <div class="image">
                                <h1>Get To know more about APRIL!</h1>
                                <img class="lucy" src="april.jpg">
                                <div class="about">
                                    <P><br>A Software Developer, Jovial & outgoing soul and adventrous personality!</span><br> currently
                                        pursuing Software Development Course at Moringa School to sharpen my skills.</P>
                                    <p> Here is a link to some of projcets</p>
                                    <ul> Check It Out! <br>
                                        <li><a href="https://github.com/lcmongwe/my-first-website.git">this is my first website at Moringa</a>
                                        </li>
                                        <li><a href="https://github.com/lcmongwe/cookie-recipe.git"> this is a yummy cookie-recipe</a></li>
                                        <li><a href="https://github.com/lcmongwe/hello-world.git"> Here is the first ever hello-world website I
                                                built</a></li>
                                    </ul>
                                </div>
                            </div>
                        
                            <div class="container">
                                <div class="row">
                                    <div class="column">
                                        <p><img src="cat.jpeg"><br> <b>ABOUT</b> <br>Name:April Wairimu<br> Career:Software Developer
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </body>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock%}