<title>About</title>
{% extends "base.html"%}

{% block content %}
<section id="land" class="p-5 home">
        
        <div class="row quote">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <body>
                            <div class="image">
                                <h1>Get To know more about APRIL!</h1>
                                <img class="april" src="/static/images/april.jpg">
                                <div class="about">
                                    <P><br>A Software Developer, Jovial & outgoing soul and adventrous personality!</span><br> currently
                                        pursuing Software Development Course at Moringa School to sharpen my skills.</P>
                                   
                                </div>
                            </div>
                        
                            <div class="container">
                                <div class="row">
                                    <div class="column">
                                        <p><img src="cat.jpeg"><br> <b>ABOUT</b> <br>Name:April Wairimu<br> Career:Software Developer<br> Nationality:Kenyan<br> Languages:English,Kiswahili
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </body>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock%}