<title>Contact</title>
{% extends "base.html"%}

{% block content %}
<section id="land" class="p-5 home">

    <div class="row quote">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <main id="contact">
                        <h1 class="lg-heading">
                            Contact <span class="text-secondary">Me</span>
                        </h1>
                        <h2 class="sm-heading">
                            This Is How You Can Reach Me
                        </h2>
                        <div class="boxes">
                            <div><span class="text-secondary">Email: </span>wairimuapril@gmail.com
                            </div>
                            <div><span class="text-secondary">Mobile Phone: </span>+254 794165133</div>
                            
                        </div>
                    </main>
                    <footer id="mainFooter">
                        Copyright &copy; 2022
                    </footer>
                    
                </div>
            </div>
        </div>
        

    </div>
    </div>
</section>
{% endblock%}