<title>Home</title>
{% extends "base.html"%}

{% block content %}

<section class=" text-dark p-5 text-center" style="background-image: url(/static/images/April\ Official.png); background-size: cover; background-repeat: no-repeat; background-position: right center;  height: 100%; opacity: 2.6;">

    <div class="hero-container" >
        <div class="row">
            <div class="col-md-11">
                <div class="d-flex justify-content-center align-items-center">
                    
                    <p style="font-size: 60px; padding-top: 100px; font-family: dancing script; font-weight: bold;"> WELCOME !<br>I'm a Passionate  Web Developer,<br>Designer and
                    Freelancer</p>

                       
                </div> 
                <div style="font-size: 40px;">
                    <a href="https://twitter.com/AprilWairimu" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://github.com/Aprilwairimu" class="github"><i class="fa-brands fa-github"></i></a>
                    
                    <a href="https://www.linkedin.com/in/april-wairimu-4836b3236/" class="linkedin"><i
                            class="fa-brands fa-linkedin"></i></a>
                </div> 
                
                <br>

                <button type="button" class="btn btn-info" style="border-radius: 10px;"><a href="{% url 'about' %}">Know More</a></button>    
               

            </div>
        </div>
        
    </div>
</section>


{% endblock%}