<title>Portfolio</title>
{% extends "base.html"%}

{% block content %}

<p> Here is a link to some of projcets</p>
<ul> Check It Out! <br>
    <li><a href="https://github.com/Aprilwairimu/Delani">This project is displayed by a form for entering certain
            information then returns a message of gratitude.</a>
    </li>
    <li><a href="https://github.com/Aprilwairimu/pizza"> this is an online pizza order and delivery system</a></li>
    <li><a href="https://github.com/Aprilwairimu/news-article"> This application lists and preview news articles from
            various sources.</a></li>
</ul>
{% endblock  %}