<title>Portfolio</title>
{% extends "base.html"%}

{% block content %}


<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
        <div class="container">

                <div class="section-title">
                        <h2>Portfolio</h2>
                        <p>Some of the projects done with the use of ||ANGULAR|| PYTHON || FLASK|| DJANGO.</p>
                </div>

                
                <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                                <div class="card">
                                        <img src="/static/images/gram.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                                <h5 class="card-title">Instagram-app</h5>
                                                <p class="card-text">
                                                This is an Instagram application that is accessible to users on both desktop and mobile formats. It has a solid
                                                authentication system that allows users to sign in or register into the application.</p>
                                        </div>
                                        <div class="card-body">
                                                <a href="aprgram.herokuapp.com/" class="card-link">Live demo</a>
                                                <a href="https://github.com/Aprilwairimu/instagram-app.git" class="card-link">github link</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card">
                                        <img src="/static/images/Blog screenshot.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                                <h5 class="card-title">My Blog</h5>
                                                <p class="card-text">This is a Personal Blog website application where you can create and share your opinions and other users can read and
                                                comment on them. Additionally, add a feature that displays random quotes to inspire your users.</p>
                                        </div>
                                        <div class="card-body">
                                                <a href="https://aprblog.herokuapp.com/" class="card-link">Live demo</a>
                                                <a href="https://github.com/Aprilwairimu/My-Blog.git" class="card-link">github link</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card">
                                        <img src="/static/images/pitch screenshot.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                                <h5 class="card-title">Pitch-App</h5>
                                                <p class="card-text">
                                                Its an application that allows users to submit their one minute pitches and other users can vote on them and leave
                                                comments.</p>
                                        </div>
                                        <div class="card-body">
                                                <a href="aprilpitch.herokuapp.com/" class="card-link">Live demo</a>
                                                <a href="https://github.com/Aprilwairimu/Pitch-App" class="card-link">github link</a>
                                        </div>
                                </div>
                        </div>
                       
                        <div class="col">
                                <div class="card">
                                        <img src="/static/images/7220 screenshot.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                                <h5 class="card-title">Hood-alert</h5>
                                                <p class="card-text">
                                                Hood-alert is a web application that allows you to be in the loop about everything happening from
                                                contact information of different handyman to meeting announcements or even alerts in your neighborhood.</p>
                                        </div>
                                        <div class="card-body">
                                                <a href="django-7220app.herokuapp.com/" class="card-link">Live demo</a>
                                                <a href="https://github.com/Aprilwairimu/Hood-alert" class="card-link">github link</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card">
                                        <img src="/static/images/Screenshot A.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                                <h5 class="card-title">News-article</h5>
                                                <p class="card-text">News Article App is a python application that will help us list and preview
                                                        news articles from various sources.</p>
                                        </div>
                                        <div class="card-body">
                                                <a href="aprilnewsapp.herokuapp.com/" class="card-link">Live demo</a>
                                                <a href="https://github.com/Aprilwairimu/news-article.git" class="card-link">github link</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card">
                                        <img src="/static/images/Gallery.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                                <h5 class="card-title">Gallery-app</h5>
                                                <p class="card-text">This is a personal gallery application that allows you to display your photos for others to see. This application is
                                                accessible to users on both desktop and mobile formats.</p>
                                        </div>
                                        <div class="card-body">
                                                <a href="aprgallery.herokuapp.com/" class="card-link">Live demo</a>
                                                <a href="https://github.com/Aprilwairimu/Gallery-app.git" class="card-link">github link</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col">
                                <div class="card">
                                        <img src="/static/images/Screenshot .png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                                <h5 class="card-title">Password-locker</h5>
                                                <p class="card-text">Password locker is a python application that helps a user to store all the passwords of various social apps and even
                                                create new ones.</p>
                                        </div>
                                        <div class="card-body">
                                                <a href="aprilwairimu.github.io/delani/" class="card-link">Live demo</a>
                                                <a href="https://github.com/Aprilwairimu/Password-locker/" class="card-link">github link</a>
                                        </div>
                                </div>
                        </div>
                        
                </div>



                </div>

        </div>
</section><!-- End Portfolio Section -->

{% endblock  %}