<title>Portfolio</title>
{% extends "base.html"%}

{% block content %}
<div class="container">
        <div class="row align-items-center justify-content-between">
                <div class="col-md">
                        <img src="/static/images/Screenshot A.png" class="img-fluid" width="50%" alt="">

                        <ul> Check It Out! <br>
                                <li><a href="https://github.com/Aprilwairimu/news-article"> This application is a python application that will help us list and preview news <br>articles from various sources.</a></li>
                        </ul>

                        <img src="/static/images/pitch screenshot.png" class="img-fluid" width="50%" alt="">
                        
                        <ul> Check It Out! <br>
                                <li><a href="https://github.com/Aprilwairimu/Pitch-App"> It has a solid authentication system that allows users to sign in or register into the<br> application and post their pitch.</a></li>
                        </ul>

                        <img src="/static/images/7220 screenshot.png" class="img-fluid" width="50%" alt="">
                        
                        <ul> Check It Out! <br>
                                <li><a href="https://github.com/Aprilwairimu/Hood-alert"> This is a Neighbourhood Web-App that helps you connect with people who <br>are living in the same region. Residents of the
                                same region can communicate<br> with each other. Health and police department contact information is easily <br>accessible. The
                                user can also see nearby businesses.</a></li>
                        </ul>

                        <img src="/static/images/Blog screenshot.png" class="img-fluid" width="50%" alt="">
                        
                        <ul> Check It Out! <br>
                                <li><a href="https://github.com/Aprilwairimu/My-Blog">This is a Personal Blog website application where you can create and share <br>your opinions and other users can read and
                                comment on them. Additionally,<br>has a feature that displays random quotes to inspire your users.</a></li>
                        </ul>

                        <img src="/static/images/gram.png" class="img-fluid" width="50%" alt="">
                        
                        <ul> Check It Out! <br>
                                <li><a href="https://github.com/Aprilwairimu/instagram-app">This is an Django Instagram application that is accessible to users on both<br> desktop and mobile formats. It has a solid
                                authentication system that allows <br>users to sign in or register into the application.</a></li>
                        </ul>
                </div>

        </div>
</div>


{% endblock  %}