<title>Resume</title>
{% extends "base.html"%}

{% block content %}
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>A hardworking software developer  focused on going  above and beyond  to exceed my targets. <br>Talents include
            Python,Django,flask,Django-Rest-Framework,Html,CSS,Database. Am able to <br>adapt to change ,work in a team, communicate
            fluently,multitasking abilities and outstanding time management.</p>
        </div>
        

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>April Wairimu</h4>
                    <p><em>Innovative and deadline-driven Software Developer with experience of designing and
                            developing software</em></p>
                    <ul>
                        <li>Nairobi, Kenya</li>
                        <li>(254) 794-165-133</li>
                        <li>wairimuapril@gmail.com</li>
                    </ul>
                </div>
                <hr>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4><span class="text-sucess">Software Developement &amp; Graphic Design </span></h4>
                    <h5>Feb 2022 - july2022</h5>
                    <p><em>Moringa School , Nairobi,Kenya</em></p>
                    <p>
                    Successfully completed both the Moringa Prep Program that is introduction to
                    programming and the Moringa Core Program in Web Development.The program
                    includes the professional use of |ANGULAR| PYTHON | FLASK| DJANGO.</p>
                </div>
                <hr>
                <div class="resume-item">
                    <h4>High School </h4>
                    <h5>2017 - 2020</h5>
                    <p><em>Ruai Girls Secondary School, Nairobi,Kenya</em></p>
                    <p>Certificate of Secondary Education<br>
                    successfully completed the highschool program</p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Introduction to Computer</h4>
                    <h5>2021 - Present</h5>
                    <p><em>Nairobi </em></p>
                    <ul>
                        <li>Interracted with the following computer packages:
                        introduction to computer |Ms.windows |Typing |Ms word | Ms excel | Ms Access |Ms
                        Power point | Ms Publisher | Adobe Page Point | Internet and Email |</li>
                        
                    </ul>
                    <hr>

                    <h4>Web Developement</h4>
                    <h5>2022 - Present</h5>
                    <p><em>Nairobi </em></p>
                    <ul>
                        <li>Applied the professional use of |ANGULAR| PYTHON | FLASK| DJANGO| to various projects both personal and team built projects</li>
                    
                    </ul>
                </div>
                
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->

{% endblock %}