<title>Services</title>
{% extends "base.html"%}

{% block content %}
<!-- ======= Services Section ======= -->
<section id="services" class="services" style=" background: linear-gradient(180deg, rgba(18, 56, 31, 0.66) 0%, rgba(200, 131, 63, 0.429) 100%); height: 100%;">
    <div class="container">

        <div class="section-title">
            <h2 style="padding-top: 80px;">Services</h2>
            <p>My Services</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="icon"><i class="bi bi-briefcase"></i></div>
                
                <h4 class="title">UI/UX DESIGN</h4>
                <p class="description">By the use of figma am able to design and encorporate new ideas to the project. </p>
            </div>
            
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="title">HTML</h4>
                <p class="description">Am well coorperated using HTML and am proficient in it.</p>
            </div>
            
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bi bi-bar-chart"></i></div>
                <h4 class="title">CSS</h4>
                <p class="description">Proficient in using both the internal and external styling sheet</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="title">PYTHON</h4>
                <p class="description">.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bi bi-binoculars"></i></div>
                <h4 class="title">DJANGO</h4>
                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
                <h4 class="title">FLASK</h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium voluptatum deleniti atque</p>
            </div>
            
        </div>


        

    </div>


    
</section><!-- End Services Section -->
{% endblock %}