<title>testimonials</title>
{% extends "base.html"%}

{% block content %}
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="p-5 testimonials section-bg">

  <div class="container">

      <div class="section-title">
          <h1 style="padding-bottom: 10px;">Testimonials</h1>
          <p></p>
      </div>

      <div class="testimonials-slider swiper"     data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

              <div class="swiper-slide">
                  <div class="testimonial-item" data-aos="fade-up">
                      <div class="row row-cols-1 row-cols-md-3 g-4 text-dark bg-dark mb-3">
                        <div class="col">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Brian Ngeno(Tech Mentor)</h5>
                              <p>Contact Information</p>
                              <p class="card-text">Email Address : brian.ng'eno@moringaschool.com
                                <br>
                                Phone +254-722-582-001
                              </p>
                            </div>
                          </div>
                        </div>

                        
                        <div class="col">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Steve Otieno(Tech Mentor)</h5>
                              <p>Contact Information</p>
                              <p class="card-text">Email Address : steve.otieno@moringaschool.com
                                <br>
                                Phone +254-722-582-001
                              </p>
                            </div>
                          </div>
                        </div>


                        <div class="col">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Lee Nduati</h5>
                              <p>Contact Information</p>
                              <p class="card-text">Email Address : lnduati@ncpb.co.ke
                                <br>
                                Phone +254-728-055-159
                              </p></p>
                            </div>
                          </div>
                        </div>


                        <div class="col">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Monica Kwamboka(Full Stack Developer</h5>
                              <p>Contact Information</p>
                              <p class="card-text">Email Address : brian.ng'eno@moringaschool.com
                                <br>
                                Phone +254-701-796-533
                              </p></p>
                            </div>
                          </div>
                        </div>

                  </div>
              </div><!-- End testimonial item -->
      </div>

  </div>
       

    
</section>
{% endblock %}


























<section id="land" class="home">

  <header id="header">
    <div class=" d-flex">

      <div class="profile" class="p-5">
        <div class="container">

          <!-- <img class="img-fluid " src="/static/images/April Official.png" alt="" class="img-fluid"> -->


          <div class="row align-items-center justify-content-between">
            <div class="hero-container d-flex flex-column" style="font-size: 40px; padding-top: 5em;">

              <img class="img-fluid " src="/static/images/April Official.png" alt="" class="img-fluid">

              <h1 class="text-light"><a href="{% url 'about' %}">April Wairimu</a></h1>

              <p>I'm a Designer, Developer, Freelancer</p>

              <a href="https://twitter.com/AprilWairimu" class="twitter"><i class="fa-brands fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa-brands fa-square-facebook"></i></a>
              <a href="https://github.com/Aprilwairimu" class="github"><i class="fa-brands fa-github"></i></a>

              <a href="https://www.linkedin.com/in/april-wairimu-4836b3236/" class="linkedin"><i
                  class="fa-brands fa-linkedin"></i></a>

            </div>


            <!-- <div class="col-md-6">
                            <img src="/static/images/April Official.png" alt="" class="img-fluid">
                        </div> -->
            <!-- </div>
                </div> -->



            <!-- <div class="social-links mt-3 text-center">
                    
                    <a href="https://twitter.com/AprilWairimu" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="#" class="github"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                
    
    
            <!-- ======= Hero Section ======= -->
            <!-- <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
                <div class="hero-container" data-aos="fade-in">
                    <h1>April Wairimu</h1>
                    <p>I'm Designer, Developer, Freelancer</p>
                </div>
            </section>  -->
            <!--=== End Hero ===-->




          </div>
  </header>
  <!-- End Header -->
</section>


<!-- <section class=" text-dark p-5 text-center">
    <div class="container">
        <div class="d-flex">
            <p>I'm a Designer, Developer, Freelancer</p>
        </div>
        <img class="img-fluid w-50 h-70" src="/static/images/April Official.png" alt="">
    </div>
</section> -->